.Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc0cb;
    height: 30vh;
    border-radius: 20px;
    margin: 10px 0;
    width: auto;
    max-width: 1440px;

}

.Banner__content{
    text-align: center;
}
.Banner__content p{
    font-size: 30px;
    font-weight: 700;
}
.Banner__content button{
    padding: 15px 30px ;
    border-radius: 15px;
    font-weight: 700;
    color: white;
    background-color: black;
    border: none;
}