.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 0;
    
}
.Brand-name{
    font-size:52px ;
    margin: 0;
    color: var(--second-color);
}
.Searcher{
    display: flex;
    width: 500px;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: var(--element-gray);
    justify-content: space-between ;
}

.Icons {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
}

.Icons p{
    color: var(--second-color); ;
}

.Items{
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 5px 10px;
    border-radius: 20px;
}

.Img-icon{
    height: 20px;
}

.Btn-theme{
    cursor: pointer;
    color: var(--second-color); ;
}